<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--开启Aop注解扫描-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <!--声明方面组件-->
<!--    <bean  id="operateLogger" class="aspect.OperateLogger"></bean>-->
<!--    将AOP作用到目标组件之上-->
<!--    前置通知-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="operateLogger">-->
<!--&lt;!&ndash;            前置&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:before method="log1" pointcut="within(controller.EmpController*)"></aop:before>&ndash;&gt;-->
<!--&lt;!&ndash;            异常&ndash;&gt;-->
<!--            <aop:after-throwing method="log5" throwing="e" pointcut="within(controller.EmpController*)"></aop:after-throwing>-->
<!--&lt;!&ndash;            最终&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after method="log2" pointcut="within(controller.EmpController*)"></aop:after>&ndash;&gt;-->
<!--&lt;!&ndash;            后置&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after-returning method="log3" pointcut="within(controller.EmpController*)"></aop:after-returning>&ndash;&gt;-->
<!--&lt;!&ndash;            环绕&ndash;&gt;-->
<!--&lt;!&ndash;                <aop:around method="log4" pointcut="within(controller.EmpController*)"></aop:around>&ndash;&gt;-->

<!--        </aop:aspect>-->
<!--    </aop:config>-->
<!--    自动扫描事务注解-->

<!--配置数据源-->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="username" value="root"/>
        <property name="password" value="hjx20010707"/>
        <property name="url" value="jdbc:mysql://localhost:3306/exam_system?characterEncoding=utf8"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="mapperLocations" value="classpath:mappers/*.xml"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao" />
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--    配置mybatis注解-->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao" />
        <!--        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>     -->
    </bean>

<!--    开启注解扫描-->
    <context:component-scan base-package="controller,server"/>
<!--    开启RequestMapping注解-->
    <mvc:annotation-driven/>
<!--    处理请求转发-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        <property name="prefix" value="/WEB-INF/"/>-->
<!--        <property name="suffix" value=".jsp"/>-->
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>
<!--    声明事务组件-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>
<!--    开启事务注解扫描-->
    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
</beans>